@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Source Sans Pro", sans-serif;
    @apply bg-[#FAFAFA];
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerIcon {
    @apply cursor-pointer h-6 w-6 opacity-75 transition hover:opacity-100;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium select-none before:absolute before:inset-x-0 before:-bottom-1 before:h-0.5 before:origin-left before:scale-0 before:rounded-full before:bg-blue-500 before:transition-all before:duration-300 hover:before:scale-100;
  }

  .borderGradient {
    @apply text-center pb-[5px];
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
      no-repeat;
    background-size: 100% 2px;
  }

  .footerLink {
    @apply px-2 cursor-pointer hover:underline;
  }
}
